@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    
}
/* ------------------Global------------------ */
.container{
    margin-top: 10px;
    width:100%;
    margin-left:10px;
    overflow:hidden;
    margin-right:20px;
}
/* -------------------Header---------------------- */
header{
    padding-top: 30px;
    min-height:90px;
    
    /* background: -webkit-linear-gradient(-45deg,  #e80326, #060606); */
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header li a{
    color: black;
    text-decoration: none;
    font-size:22px;
    transition:0.5s;
    font-weight: 300;
    padding-right:10px;
}
header a:hover{
    font-weight: 500;
    font-size: 30px;
}
header li{
    float:left;
    display: inline;
    padding:0 20px 0 20px;
}
header #branding {
    float :left;
}
header #branding img{
    margin:0;
    width:50%;
}
header nav{
    float:right;
    margin-top:10px;
}
.highlight{
    margin-left:10px;
    color: black;
}
.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right:35px;
    
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  .button-62:hover{
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);;
  }


/*----------------------Showcase-------------------------*/
#showCase{
    width:100%;
    height:850px;  
} 
.content{
    display: block;
    width:100%;
    height:100%;
    justify-content: left;
    background-image: url("images/robotgradientintro2.jpeg");
    background-image: fixed;
}
.content img{
    width:10%;
    height: auto;
    padding-left:120px;
    padding-top: 200px;
}
.top-left {
    position: absolute;
    bottom: 250px;
    left: 180px;

  }
.content h1{
    text-align: left;
    text-decoration: none;
    font-size: 72px;
    /* padding-left: 200px; */
    color: #fff;
    /* padding-top: 200px; */
    
}
/*----------------------Image0-------------------------*/

.imageParent {
    position: relative;
}

.image {
    padding-left:1010px;
    position: absolute;
    bottom: -350px;
    width:30%;
}

/*----------------------About-------------------------*/
#About{
    width:100%;
    height:1050px; 
} 
.top-left1{
    width:25%;
    display: block;
}

.top-left1 h1{
    position: absolute;
    bottom: -440px;
    left: 180px;
    font-size: 60px ;
    color:#834496;
    font-weight: 700;
}
.top-left1 h2{
    position: absolute;
    bottom: -260px;
    left: 180px;
    font-size: 18.8px 
}
.top-left1 p{
    position: absolute;
    text-align: left;
    width:45%;
    bottom: -107%;
    left: 180px;
    font-size: 18.8px ;
    font-weight: 300;
    line-height: 2rem;
}
/*----------------------Image1-------------------------*/

.imageParent1 {
    position: relative;
    
    height:auto;
    padding-left:700px;
    position: absolute;
    bottom: -172%;
}

.image1 {
    width:75%;
    clip-path: circle(50%);
    
}
/*----------------------Image2-------------------------*/

.imageParent2 {
    position: relative;
    
    height:auto;
    position: absolute;
    bottom: -185%;
}

.image2 {
    width:60%;
    
}
/*----------------------Image3-------------------------*/
.imageParent3 {
    position: relative;
    
    height:auto;
    padding-left:1100px;
    position: absolute;
    bottom: -170%;
}
.image3{
    width:60%;
    height: auto;
}
/*----------------------Images-------------------------*/
#Images{
    width:100%;
    height:850px;
    background-image: url("images/bggradient.jpeg"); 
} 
.top-left2{
    display: block;
    width:50%;
    height:auto;
    padding-top:300px;
    padding-left:300px
}
.top-left2 h1{
    color:#fff;
    font-size: 72px;
    font-weight: 700;
}
.top-left2 p{
    color:#fff;
    text-align: justify;
    font-size: 25px;
    font-weight: 300;
}
/* -----------------------Footer-------------------------- */
footer{
    background-color:rgb(255, 255, 255);
    width: 100%;
    height:50%;
    display: flex;
    
}
footer nav{
    width:25%;

    padding-top:100px;
    padding-bottom: 100px;
    line-height: 3rem;
    padding-left: 50px;
    padding-right: 100px;

}
footer a{
    color: rgb(1, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition:0.5s;
}
footer a:hover{
    text-decoration: none;
    font-size: 30px;
}
footer ul{
    list-style: none;
}
.foot h2{
    background-color: #524a4a;
    color:#fff;
    text-align:center;
    padding-top: 50px;
    padding-bottom:50px;
    font-weight: 500;
}
.quote {
    width:50%;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 2rem;
    padding-left: 50px;
    padding-right: 100px;
}
.top-left4{
    margin:0;
    padding:0;
}
.top-left4 img{
    padding-top:100px;
    padding-bottom: 100px;
    width: 70%;
    height: 50%;
    margin-right: 10px;
}
.quote input , .quote textarea{
    width:50%;
    padding: 10px;
}
.button_1{
    height:38px;
    background-color: #d99aee;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    transition:0.5s;
    cursor:pointer;
}
.button_1:hover{
    background-color: #bd14f5;
}
@media screen and (max-width:800px){
    /* -------------------Header---------------------- */
header{
    padding-top: 0px;
    min-height:50px;
    width: 100%;
}
header ul{
    list-style: none;
}
header li a{
    color: rgb(243, 238, 238);
    text-decoration: none;
    font-size:13px;
    transition:0.5s;
    font-weight: 100;
    padding-left:10px;
    /* content: "\a"; */
}
header li a:hover{
    font-weight: 300;
    font-size: 20px;
}
/* header li{
    
    display: block;
    padding:0 0px 0 0px;
} */
header #branding {
    float :left;
}
header #branding img{
    margin:0;
    width:30%;
    padding-top: 10px;
}
header nav li{
    float:right;
    margin-top:0px;
    display: block;
    content: "/a";
    position: absolute;
    background-color: #524a4a;
    width: 150px;
    height:10vh;
    top:0;
    right:0;
    text-align: left;
    z-index: 2;


}
.highlight{
    margin-left:10px;
    color: black;
}
/*----------------------Showcase-------------------------*/
#showCase{
    width:100%;
    height:850px;  
} 
.content{
    display: block;
    width:100%;
    height:auto;
    justify-content: left;
    background-image: url("images/robotgradientintro2.jpeg");
    background-image: fixed;
}
.content img{
    width:10%;
    height: auto;
    padding-left:120px;
    padding-top: 200px;
}
.top-left {
    position: absolute;
    bottom: 250px;
    left: 180px;

  }
.content h1{
    text-align: left;
    text-decoration: none;
    font-size: 22px;
    /* padding-left: 200px; */
    color: #fff;
    /* padding-top: 200px; */
    
}
/*----------------------Image0-------------------------*/

.imageParent {
    position: relative;
}

.image {
    padding-left:1010px;
    position: absolute;
    bottom: -350px;
    width:30%;
}

/*----------------------About-------------------------*/
#About{
    width:100%;
    height:1050px; 
} 
.top-left1{
    width:25%;
    display: block;
}

.top-left1 h1{
    position: absolute;
    bottom: -440px;
    left: 180px;
    font-size: 60px ;
    color:#834496;
    font-weight: 700;
}
.top-left1 h2{
    position: absolute;
    bottom: -260px;
    left: 180px;
    font-size: 18.8px 
}
.top-left1 p{
    position: absolute;
    text-align: left;
    width:45%;
    bottom: -107%;
    left: 180px;
    font-size: 0.8px ;
    font-weight: 300;
    line-height: 2rem;
}
}


